*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: url(images/a-background-sunny.jpg);
  background-size: cover;
  backdrop-filter: blur(10px)
}
#cityy{
  display: flex;
  justify-content: center;
  margin-top: 15px;
  font-weight: 500;
  font-size: xx-large;
  position: relative;
  text-transform: capitalize;
}
.container {
  position: relative;
  border-radius: 30px;
  width: 400px;
  height: 590px;
  background-color: rgba(255,255,255,.2);
  border-radius:16px;
  padding: 20px;
  color: #fff;
}
.search-box{
  position: relative;
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
}
.search-box input{
  position: absolute;
  width: 100%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(255,255,255,0.2);
  outline: none;
  border-radius: 10px;
  font-size: 22px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  padding: 0 48px 0 42px;
}
.search-box input::placeholder{
  color: #fff;
  text-transform:capitalize ;
}
.map-bar{
  position: absolute;
  left: 5px;
}
.search-box button{
  position: absolute;
  right: 0;
  width: 40px;
  height: 100%;
  background:transparent ;
  border: none;
  outline: none;
  font-size: 28px;
  color: #fff;
  padding: 0 40px 0 5px;
  cursor: pointer;

}
.weather-box{
  text-align: center;
  margin: 40px 0;;
}
.weather-box img{
  width: 60%;
}

.weather-box .temperature{
  position: relative;
  font-size: 64px;
  line-height: 1;
  font-weight: 700;
  margin: 20px 0 6px -30px;
}
.weather-box .temperature span{
  position: absolute;
  font-size: 24px;
  margin-left:4px ;
}
.weather-box .description{
  font-size: 22px;
  font-weight: 550;
  text-transform: capitalize;
}
.weather-details{
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  padding: 0 20px;
  display: flex;
}
.weather-details .humidity,
.weather-details .wind,
.weather-details .pressure{
  display: flex;
  align-items: center;
  width: 40%;
}

.weather-details .humidity{
  padding-left: 6px;
  padding-right: 3px;
  justify-content: flex-start;
}

.weather-details .wind{
  justify-content: flex;
  padding-left: 8px;
  padding-right: 8px;
}

.weather-details .pressure{
  padding-right: 8px;
  padding-left: 4px;
  justify-content: flex-end;
}
.weather-details img{
  size: 56px;
  margin-right: 10px;
}
.weather-details span{
  display: inline-block;
  font-size: 22px;
  font-weight: 500;
}
.weather-details p{
  font-size: 14px;
  font-weight: 500;
}
.date-section {
  text-align: right;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.date-section p {
  font-size: 18px;
  font-weight: 500;
  color: aliceblue;
  font-family:monospace;
}